ipykernel
pandas
scipy
matplotlib
seaborn
statsmodels
pandas
pandas-profiling
streamlit
streamlit-pandas-profiling
prophet==1.1.1
Cython
cmdstanpy==1.1.0
pystan==2.19.1.1
plotly
scikit-learn
neuralforecast
openpyxl
pycaret
